.timer{ id: "jcountdown", data: {time: current_user.end_time.strftime("%Y-%m-%d")}}
  -#add timer here
.middleUpperDiv{style: "text-align: center;"}  
  - flash.each do |name, msg|
    - if !(name.to_s == "early_click")
      .alert.alert-success
        %strong= ["Hooray!", "Awesome!", "Yahoo!", "Bam!", "OH YEAH!", "Get pumped!"].sample
        = msg
    - elsif (name.to_s == "early_click")
      .alert
        %strong= ["Dafuq?", "Huh?", "Wait... What?", "WTF?", ":|"].sample
        = msg
.middleDiv{style: "text-align: center;"}
  .centerBox
    .div{style: "text-align: center;"}
      %h2
        %strong
          = current_user.username.humanize
          = current_user.clicks
    = link_to raw("The Button"), buttons_click_path, class: "btn btn-primary btn-large", method: :post