.centerBox
  %h2{style: "margin-top:30px; text-align:center;"}
    Top Clickers
  %table.table-bordered.table-hover.tableDiv
    %tr
      %th Rank
      %th Username
      %th Clicks
      %th Most Recent Click
      %th Next Click In
    - @user_items.each do |t|
      %tr{style: "text-align:center;"}
        %td.td= @user_all.find_index(t)+1
        %td.td= link_to t.username.humanize, user_url(t.id)
        %td.td= t.points.count
        - if !(t.points.first == nil)
          %td.td= t.points.first.created_at.strftime("%Y-%m-%d %H:%M:%S")
        - else
          %td.td Never clicked!
        -if !(t.points.first == nil)
          -if (("%0.f" % ((t.read_attribute(:end_time).to_s.to_time.strftime("%Y-%m-%d").to_time - Time.now)/3600)) < 0)
            %td.td= "Now!"
          -else
            %td.td=  ("%0.f" % ((t.read_attribute(:end_time).to_s.to_time.strftime("%Y-%m-%d").to_time - Time.now)/3600)).to_s + " hours"
        - else
          %td.td Never
  .digg_pagination{style: "margin-left:40%"}= will_paginate @user_items