.centerBox{style: "margin-top:30px;"}
  .showRightDiv{style: "margin-top:40px;"}
    %table.table-bordered.table-hover.showRightDiv{style: "text-align:center; width:80%; float:right;"}
      %tr
        %th Click #
        %th Time
      - @user.points.each_with_index do |t, index|
        %tr
          %td.td= index+1
          %td.td= t.created_at.strftime("%Y-%m-%d %H:%M:%S")
  .showLeftDiv
    %h1= @user.username.humanize
    %h2= "Rank: " + (@user_items.index(@user)+1).to_s
    %h2= @user.points.count.to_s + " click(s)"
    .achievement{style: "text-align:center;"}
      %h2{style: "font-size:150%;"} Achievements:
        