.centerBox{style: "margin-top:30px;"}
  .showRightDiv{style: "margin-top:40px;"}
    %table.table-bordered.table-hover.showRightDiv{style: "text-align:center; width:80%; float:right;"}
      %tr
        %th Click #
        %th Time
      - @user_clicks.each do |t|
        %tr
          %td.td= @user.points.find_index(t)+1
          %td.td= t.created_at.strftime("%Y-%m-%d %H:%M:%S")
    %br
    %br
    %br
    .digg_pagination= will_paginate @user_clicks
  .showLeftDiv{style: "margin-bottom:30px;"}
    %h1= @user.username.humanize
    %h2= "Rank: " + (@user_items.index(@user)+1).to_s
    %h2= @user.points.count.to_s + " click(s)"
    .achievement{style: "text-align:center; padding-bottom:20px;"}
      %h2{style: "font-size:150%;"} Achievements:
      %table{style: "border:0;"}
      - @a_items.each do |t|
        %tr
          %strong= t.title
          %br
          %img{src: "/assets/images" + t.image}
          %p{style: "font-size:80%"}= t.description