%header.navbar.navbar-fixed-top
  .navbar-inner{style: "overflow:hidden;"}
    .div{style: "float:right; margin-right:20px; margin-top:10px;"}
      %strong
        = link_to current_user.username.humanize, user_url(current_user.id)
        &nbsp;:&nbsp;&nbsp;
        = current_user.points.count.to_s + " Clicks"
    .div{style: "margin-left:10px; overflow:hidden"}
      #logo Pointless Button Clicking Game
      %nav
        %ul.nav.pull-left{ "data-no-turbolink" => true }
          %li= link_to "Leaderboard", users_path
          %li= link_to "The Button", button_path
          %li= link_to "About", about_path
          %li= link_to "Logout", destroy_path